In [7]:
import pickle
import pandas as pd
from results_manager import results2table

results_neis = pickle.load(open("./results/results_NEIS2157.pkl", "rb"))
    
results2table(results_neis)

                               rep   dnabert     prose
combiner dimensional PCA
pca      all              0.196920  0.062727  0.225986
         default          0.142359  0.065709  0.254419
average  all              0.196920  0.063429  0.231623
         default          0.142359  0.018753  0.194449
sum      all              0.196920  0.063429  0.231623
         default          0.142359  0.018753  0.195133
max      all              0.196920  0.060892  0.227712
         default          0.142359  0.056290  0.207680

In [8]:
results_globins = pickle.load(open("./results/results_globins.pkl", "rb"))
    
results2table(results_globins)

                               rep   dnabert     prose
combiner dimensional PCA
pca      all              0.394608 -0.020308  0.491667
         default          0.583333  0.247549  0.491667
average  all              0.394608 -0.040546  0.583333
         default          0.583333 -0.174475  0.583333
sum      all              0.394608  0.521429  0.791667
         default          0.583333  0.491667  0.791667
max      all              0.394608 -0.040546  0.583333
         default          0.583333 -0.093651  0.583333